@{
    ViewData["Title"] = "Choosing a Breeder";
}
<h1>Choosing A Westie Breeder</h1>
<h2>First <span id="aside">(or, why you really DO want a "Show" Dog)</span></h2>
<p>When you decide to adopt a Westie puppy, you should search or a reputable, quality Westie breeder. Acquaint yourself with the breed so that you recognize the correct type, soundness and temperament.  There is an almost limitless amount of information on the internet and in books.  If possible, attend a local dog show.  This is a great way to meet potential Westie breeders - breeders who breed show-quality dogs. When you acquire a puppy from such a breeder, you are getting a dog that is the result of very carefully selected parents. After all, if they show their dogs, they are always trying for the "perfect" Westie, they plan each breeding intending to keep one of the puppies for themselves and they have a reputation to protect.</p>
<p>Of course not all puppies in the litter will be show dogs, but they will have the genetics from parents chosen based on their ancestry and are the result of serious study, thought and planning - GREAT dogs do not just happen. A responsible Westie breeder's lines have evolved by careful selection in order to avoid passing along any genetic flaws and to ensure that only the strongest traits are passed along to future generations. In this way, breeders continually reinforce the positive traits of the breed, such as the temperament, intelligence, and loyalty. </p>
<p>A quality breeder will raise the puppies in its home and require that you return the puppy to him or her should you no longer be able to care for it - it is a top concern for responsible breeders to assure that the Westies they raise never end up in a shelter or inappropriate home.</p>
<ol>
    <li>Identify two or 3 good breeders and, if at all possible, visit them all prior to selecting one.</li>
    <li>The breeder should raise only one breed - two at most.</li>
    <li>Ask if the mama was fed commercial kibble or fresh dog food while nursing the puppies. Studies show that if she was fed a commercially produced kibble food while nursing, the puppies will be more than twice as likely to develop allergies and skin problems than if the mama was fed virtually ANY fresh dog food (see Steven Brown's book Unlocking the Canine Ancestral Diet).</li>
    <li>Observe where they keep their West Highlands. A good breeder raises its dogs in a friendly, well-adjusted home environment where the puppies will get off to the start they need in order to be enjoyable, satisfactory adult dogs. It is believed that while 50% of a dog's demeanor is based on genetics, the other 50% is a result of their environment during their first few months.</li>
    <li>If the puppies are not raised in the home, be sure to ask how the breeder will socialize them.</li>
    <li>Ask the breeder to share with you the qualities of both parents, their bloodlines, etc.</li>
    <li>Try to see both parents.</li>
    <li>Most good breeders do not always have puppies available, and seldom have more than a few litters a year. You may have to  wait until puppies are ready to go to a new home. Don't be so eager that you grab the first puppy available when you know that breeder could have dont things better. Do contact the breeder frequently.</li>
</ol>
<p>Responsible breeders try to place most of their puppies as pets and their registration is restricted against breeding and they will never place a puppy with a family that they have not researched and approved.</p>
<p>Even though pet shops [including those online] occasionally have Westie puppies for sale, such shops are not sufficiently concerned with the puppy's blood lines or placing the puppy in good homes, rather they are simply concerned that they always have puppies available.  They often obtain puppies from puppy mills. Newspaper ads are often for puppies produced by people who are either breeding solely to raise cash or do not have the knowledge needed to produce puppies without health problems or that meet the written standard.</p>
<h2>What to Look for in the Puppy</h2>
<p>NOTE: Most breeders -after evaluating the puppies over several weeks - will select which puppy to place with each family based on the family's lifestyle, their gender preference and the puppy's personality.</p>
<ol>
    <li>Some people are looking for a bargain. An AKC registration does not mean it is a quality puppy. The AKC is not a seal of approval but simply a registry. As with most things you acquire - you get what you pay for.</li>
    <li>Never adopt a puppy if you have not at least seen the mama and been able to visit the breeder to see the quality of care given to all their Westies.</li>
    <li>Pay attention to the mama's [and if possible, the sire's ] demeanor.</li>
    <li>Do they look like the Westie should look?</li>
    <li>Obtain a copy of the sire and mama's pedigrees. Do they come from Championship quality lines and kennels?</li>
    <li>Male or Female? Males are more affectionate and more likely to follow you around the house and sit close. While females are also affetionate and loving, they tend to be a bit more aloof.</li>
    <li>The most important thing to look for is a Responsible, caring Kennel and Westie breeder-regardless of your intentions for the puppy-and get on their waiting list.</li>
    <li>Are the puppies raised in the house around the family? Are they being properly socialized? Does the breeder encourage visitors? These are all critical questions as a puppy's environment during these first weeks will have more of an impact on its demeanor than genetics! </li>
    <li>His eyes should be clear and free of mucus, upper palette completely closed. He should be energetic and playful and you should verify he will eat and drink. Obtain a pedigree for the parents and look for "Ch. " titles in their pedigrees. </li>
    <li>See at least one parent - both parents if you can.  The puppy will more than likely look like one of them.</li>
    <li>Obtain a shot and deworming record to provide to your vet. Make an appointment with your vet within a day or 2 after fetching your puppy to complete a health check.</li>
</ol>
<h2>Purchase Agreement</h2>
<ol>
    <li>Are there restrictions against Showing or Breeding?</li>
    <li>Does the agreement contain a guarantee stating that you can return the puppy for a full refund in the event that the puppy does not pass his health check with your vet?</li>
    <li>Are there restrictions on the resale or relocation of the puppy (a good breeder will require an agreement that you return the puppy should you for any reason decide you no longer want it or are able to care for it)?</li>
    <li>Does the agreement require that you notify the breeder in the event the puppy displays any health problems that may be genetic, regardless of whether or not they are covered by a guarantee?</li>
    <li>Does it require you to neuter or spay your puppy? If so, is the time period allowed acceptable?</li>
    <li>If the breeder is maintaining a Co-ownership, who makes decisions about showing and/or breeding?  Who pays for showing expenses? How will proceeds from puppy sales or stud fees be distributed?</li>
</ol>