@{
    ViewData["Title"] = "Code of Ethics";
}
<h1>Code of Ethics</h1>
<p>This Code of Ethics was adopted by the Club (latest revision April 16, 1988), in order to clarify
Article 1, Section 2 of the Club Constitution. Members in good standing of the Club should
understand that failure to comply with this code will be considered an offense under Article VI,
Discipline, of the By-laws of the Club.</p>
<ol>
    <li>As breeders and owners of pure-bred West Highland White Terriers, our aim is to promote and
encourage betterment of our breed and to promote pure-bred dogs by observing breed standards,
and good breeding practices, and to educate the general public as to the aims of pure-bred dog
owners and breeders.</li>
    <li>As members of the Club, the rules of good sportsmanship and conduct will be observed at all
times while in show competition. All rules of the American Kennel Club will be observed as to
good conduct in and out of the ring.</li>
    <ol>
        <li>We will always be alert to the needs of the novice, helping him to become better
acquainted with show ring procedures.</li>
        <li>We will accept both our losses and wins gracefully.</li>
        <li>We will be considerate of all exhibitors in and out of the ring.</li>
    </ol>
    <li>We shall be ready to share our knowledge and experience with all Westie fanciers.</li>
    <li>As members, we will not knowingly export or sell Westies to a pet shop or agent whose
purpose is mass production and wholesaling of pure-bred dogs.</li>
    <li>As members, we will not breed to any unregistered dog, and shall abide by all rules of dog
registration as established by the American Kennel Club.</li>
</ol>
<h2>Enforcement</h2>
<p>Any member having reason to believe that the Code of Ethics is being, or has been, violated will
make a written report to the President. The President, upon receipt of such a report, will forward it
to the Board Member who lives closest to the accused. That Board Member will appoint an
impartial club member in the area to assist him in an investigation of the complaint. After
thorough investigation, including direct correspondence with both the complainant and the
accused, the investigators will make a written report of their investigation to the President. If the
President determines, on the basis of the investigation report, that the complaint has merit, he
may direct the member, by registered mail, to rectify the situation within a stated time period. If
the accused does not comply with the President's directive or if the violation is of a serious
character, the matter will be turned over to the Constitution and By-Laws of the West Highland
White Terrier Club of Puget Sound. Any member who disagrees with any action taken under this
section has the right to appeal that action to the full Board of Directors.</p>