@{
    ViewData["Title"] = "Club Contacts";
}
<h1>Club Officers & Contacts</h1>
<h2>Officers</h2>
<div id="contacts">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>President</td>
                <td>Linda Gray</td>
            </tr>
            <tr>
                <td>Vice President</td>
                <td>Jeannette Melchior</td>
            </tr>
            <tr>
                <td>Treasurer</td>
                <td>Dee Thompson</td>
            </tr>
            <tr>
                <td>Secretary</td>
                <td>Sharon Newsom</td>
            </tr>
        </tbody>
    </table>
    <h2>Board of Directors</h2>
    <ul class="list-striped">
        <li>Annette Loy</li>
        <li>Laurie Stack</li>
        <li>Colleen Brazil</li>
        <li>Sandy Cross</li>
    </ul>
    <h2>Committee Positions</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Membership</td>
                <td>Karin Parish</td>
            </tr>
            <tr>
                <td>Newsletter</td>
                <td>Dee Thompson</td>
            </tr>
            <tr>
                <td>Breeder Referral</td>
                <td>Sandy Davis</td>
            </tr>
            <tr>
                <td>Rescue</td>
                <td>Karin Parish <span>or</span> Victoria Ray</td>
            </tr>
            <tr>
                <td>Westie Foundation Liason</td>
                <td>Cyndee Lockwood</td>
            </tr>
            <tr>
                <td>Photographer</td>
                <td>Robin Ryan <span>and</span> Linda Gray</td>
            </tr>
            <tr>
                <td>Webmaster</td>
                <td>Karin Parish</td>
            </tr>
            <tr>
                <td>Ways and Means</td>
                <td><span>Vacancy</span></td>
            </tr>
        </tbody>
    </table>
</div>
