@{
    ViewData["Title"] = "Home Page";
}
<div id="home-page">
    <h1>Welcome</h1>
    <p>The West Highland White Terrier Club of Puget Sound (WHWTCOPS) strives to present a balanced mix of educational, social and competitive events for owners and Westie lovers alike. The club also attempts to do all in its power to protect and advance the interests and welfare of all purebred Westies. Use the drop down menu above to navigate our site. We also post information on FACEBOOK and we also have a PAYPAL link so you can electronically send in payments for events or renew your membership. We look forward to you joining us on many adventures.</p>
    <p>See <a href="/calandar">Calendar Section</a> for what's happening! All Westie Owners are invited!</p>
    <h2>Payments</h2>
    <p>We are able to accept payments electronically (as well as by check) for purchases, donations, membership renewal as well as payment for events. Click on this button below to make a donation online. Make sure to note nature of transaction.</p>
    <p>Thank you for using PAYPAL.</p>
    <button class="fab fa-facebook-square btn btn-primary"><a href="http://www.facebook.com/pages/West-Highland-White-Terrier-Club-of-Puget-Sound/141800395876319?facebook="> Visit Our Facebook Page</a></button>
    <button class="btn btn-primary"><a href="https://www.paypal.com/webapps/shoppingcart?flowlogging_id=b8b5f2b1c0b1d&mfid=1590526294115_b8b5f2b1c0b1d#/checkout/openButton">Donate</a></button>
</div>