@{
    ViewData["Title"] = "Mission Statement";
}
<h1>Mission Statement</h1>
<p>The Mission of the West Highland White Terrier Club of Puget Sound (WHWTCOPS) is</p>
<ul>
    <li>to promote cooperation and friendship among the breeders and owners of West highland White Terriers (Westies)</li>
    <li>to promote, maintain, and encourage the responsible breeding and ownership of Westies</li>
    <li>to urge members, breeders, and exhibitors to accept the standard of the breed as approved by the American Kennel Club (AKC) and the West Highland White Terrier Club of America (WHWTCA) as the only standards of excellence by which the Westie shall be judged</li>
    <li>to maintain, support, and conduct dog shows, including speciality shows, under the rules of AKC, and to do all in it's power to protect and advance the itnerest of the breed by encouraging sportsmanlike competition at said shows</li>
    <li>to initiate educational programs and activities which will stimulate and extend public interest in the Westie</li>
</ul>