@{
    ViewData["Title"] = "Newsletter";
}
<h1>Club Newsletters</h1>
<ul id="newsletters" class="list-striped">
    <li><a href="http://www.whwtcops.org/newsletter/2020_winter.pdf">Winter 2020</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2019_fall.pdf">Fall 2019</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2019_summer.pdf">Summer 2019</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2019_spring.pdf">Spring 2019</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2018_winter.pdf">Winter 2018</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2018_fall.pdf">Fall 2018</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2018_summer.pdf">Summer 2018</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2018_spring.pdf">Spring 2018</a></li>
    <li><a href="http://www.whwtcops.org/newsletter/2017_winter.pdf">Winter 2017</a></li>
</ul>