* {
    margin: 0;
    padding: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
  
header, .footer {
    /* background-color: #114123; */
    /* opacity: .5; */
    text-align: center;
    
}
header > h1#title {
    padding: .4em;
    margin: 0;
    font-family: 'Uncial Antiqua', cursive;
    color: white;
    text-shadow: #540e0e 2px 2px 2px;
}
header > h1, header > h2 {
    display: inline-block;
    font-size: 2rem;
}
/* h1,h2,h3,h4,h5,h6 {
    font-family: 'Uncial Antiqua', cursive;
    color: white;
    text-shadow: #540e0e 2px 2px 2px;
} */
body {
    font-size: 16px;
    background: url("../images/index.jpg");
}
nav > img, header > img {
    width: 5em;
}
/* #navbarNavDropdown .nav-link {
    color: white;
} */
#home-page button {
    height: 2.2em;
}
#home-page button * {
    color: aliceblue;
}
.dropdown-item {
    font-size: .75rem;
}
.nav-item {
    font-size: .8rem;
}
.westie-container {
    background-color: #c8c8c8;
    /* opacity: .3; */
    height: 100%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
.westie-container * {
    font-family: 'Lato','Montserrat', sans-serif
}
.westie-container h1 {
    border-bottom: solid black 1px;
}
.westie-container p, .westie-container li {
    font-size: .7rem;
}
.westie-container ul, .westie-container ol {
    padding-left: 1.2em;
}
.westie-container li {
    margin:.7em 0;
}
.westie-container span#aside {
    font-size: .7rem;
    position: relative;
    bottom: .8em;
}
#referral-form > div{
    display: flex;
    justify-content: space-evenly;
}
#referral-form section {
    padding: 2em;
}
.form-group > label {
    display: block;
    border-bottom: solid 1px black;
}
.form-group > span {
    color: #dc3545;
    display: block;
}
#contacts td:first-child {
    font-weight: bold;
    width: 10em;
}
ul.list-striped {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.list-striped li {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    font-size: inherit;
    margin: 0;
}
#contacts li:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
}
#newsletters {
    overflow-y: scroll;
}
#newsletters li:first-child {
    border: none;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (max-width: 1024px) {
    #referral-form > div {
        flex-direction: column;
    }
    #referral-form section {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
    #referral-form > div {
        flex-direction: row;
    }
    #referral-form section {
        width: 50%;
    }
}
